.vscDark{
    color: #d4d4d4;
	font-size: 13px;
	text-shadow: none;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
    white-space: pre-wrap ;
    overflow-wrap: break-word;
    overflow: auto;
    overflow-y: scroll;


}
.vscDarkPre{
    padding: 1em;
	margin: .5em 0;
	background: #1e1e1e;
    overflow: auto;
    overflow-y: scroll;
}


.fileName{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 48px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	min-width: max-content;
	margin: 0;
	padding: 8px 8px;
	text-align: left;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.87);
	background-color: #f5f5f5; 
	border-bottom: 2px solid #1976d2; 
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
	/* cursor: pointer; */
}

.utility-icons{
	-webkit-text-stroke: 2px black !important;
	filter: drop-shadow(2em 2em 2em #1e1e1e) !important;
	color: #FFF;
	margin-top: 5px;
}

.customDivider {
	background-color: #42a5f5;
	height: 1.5px;
  }


